[submodule "external/json"]
	path = external/json
	url = https://github.com/MaxAkaAltmer/json.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/MaxAkaAltmer/imgui.git
	branch = docking
[submodule "external/GetComPortList"]
	path = external/GetComPortList
	url = https://github.com/MaxAkaAltmer/GetComPortList.git
[submodule "external/dirent"]
	path = external/dirent
	url = https://github.com/MaxAkaAltmer/dirent.git
[submodule "external/manymouse"]
	path = external/manymouse
	url = https://github.com/MaxAkaAltmer/manymouse.git
[submodule "external/gamepad"]
	path = external/gamepad
	url = https://github.com/MaxAkaAltmer/gamepad.git
[submodule "external/tinyxml2"]
	path = external/tinyxml2
	url = https://github.com/MaxAkaAltmer/tinyxml2.git
[submodule "external/cryptopp"]
	path = external/cryptopp
	url = https://github.com/MaxAkaAltmer/cryptopp.git
[submodule "external/libnpy"]
	path = external/libnpy
	url = https://github.com/MaxAkaAltmer/libnpy.git
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/MaxAkaAltmer/asio.git
[submodule "external/clipp"]
	path = external/clipp
	url = https://github.com/MaxAkaAltmer/clipp.git
[submodule "external/miniaudio"]
	path = external/miniaudio
	url = https://github.com/MaxAkaAltmer/miniaudio.git
[submodule "external/libchdr"]
	path = external/libchdr
	url = https://github.com/MaxAkaAltmer/libchdr.git
