[submodule "external/json"]
	path = external/json
	url = https://github.com/MaxAkaAltmer/json.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/MaxAkaAltmer/imgui.git
	branch = docking
[submodule "external/GetComPortList"]
	path = external/GetComPortList
	url = https://github.com/MaxAkaAltmer/GetComPortList.git
[submodule "external/dirent"]
	path = external/dirent
	url = https://github.com/MaxAkaAltmer/dirent.git
